@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

$primaryColor: #038896;
$whiteColor: #ffffff;
$firstColor: #8dc043;
$firstColorHover: #9cd349;
$secondColor: #fbfbfb;
$thirdColor: #565960;
$fourthColor: #efefef;
$fifthColor: #181c25;
$sixthColor: #00b9ff;
$seventhColor: #d9d9d9;
$eighthColor: #eae3e3;
$ninthColor: #288da2;
$tenthColor: #2d717b;
$eleventhColor: #b2b2b2;
$twelfthColor: #d8d7d7;
$faceColor: #3b5998;
$twitterColor: #00b9ff;
$gmailColor: #ff6666;
$regular-box-shadow: 0 0 10px #eae5ee;
$strong-box-shadow: 0 0 15px #b2b2b2;
$transition-200ms: all 0.2s ease-in-out;
